@import url('./reset.css');
@import url('./fonts.css');

*{
    box-sizing: border-box;
}

#menu{
    position: absolute;
    left: 0;
    top: 50%;
    background-color: rgba(0,0,0, 0.7);
    text-shadow:1px 1px #000;
    padding:20px;
    font:15px/25px 'Futura Light';
    text-transform: uppercase;
}

#menu a{
    color: #FFF;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    text-decoration: none;
}

#menu a:hover{
    color: rgba(255, 255, 255, 0.6);
}